*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Segoe UI',sans-serif;
    color:white;
    overflow-x: hidden;
}
.main-header{
    background: white;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:10;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    /* max-width: 1300px;
    width: 100%; */
    position: relative;
}
.logo{
    display:flex ;
    align-items: center;
    gap: 0.5rem;
}
.logo img{
    height: auto;
    width: 30px;

}
.logo span{
    color:#111;
    font-weight: bold;
    font-size: 1.2rem;
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}
.nav-links li {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

.dropdown-menu li {
    margin-bottom: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle {
    cursor: pointer;
}

/* .nav-links li{
    color: #111;
    font-weight: 500;
    cursor: pointer;
} */
.book-btn {
    background-color: #4A7EFf;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
     margin-left: 20px;
    font-size: 15px; 
}
.hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}
@media(max-width:768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        padding: 1rem 2rem;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .nav-links.active {
        display: flex;
    }
    .hamburger {
        display: block;
        color: black;
        float: right;
    }
    .book-btn {
        display:block ;
    }


}
  /* .menu-icon{
    display:none ;
} 
 .hero-section{
    position: relative;
     background-image:linear-gradient(rgba(0,30,80,0.7),rgba(0,30,80,0.7)) ,url(img/família.jpeg); 
    background-size: cover;
    background-position: center;
    height: 70vh; 
    display: flex;
    justify-content: center;
    color: white;
    padding: 0 20px;

}  */
  /* .hero-content{    
text-align: center;
}
.hero-content h2{
    font-size: 16px;
    color: #ddd;
    margin-bottom: 10px;
} */
/* .hero-content h1{
   font-size: 48px;
    line-height: 1.3;
    margin-bottom: 25px;
    font-weight: bold;

}
.hero-content .book-btn{
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   */
  /* .hero-text {
    text-align: center;
 }
 .hero-text h2 {
    color: #ddd;
    font-size: 16px;
    margin-bottom: 10px;
 }
 .hero-text h1 {
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 25px;
    font-weight: bold;
 }
 .hero-text .book-btn {
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 /  */
   .hero-container {
  position: relative;
  
  
}  

 .hero-image {
  width: 100%;
  height: 500px;
  max-width: 100%;
 object-fit: cover;/* Responsive for smaller screens */
    display: block;
} 

 .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);/* Semi-transparent background for visibility */
   border-radius: 12 px;

  } 
 .book-btn1 {
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
  } 
 /* .rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}
    
.rating-score{
   font-weight: bold;
    color: yellow;
 

}
.stars i{
    color: gold;
} */
/* @media (max-width:768px) {
    .nav-links {
        display: none;
    }
    .menu-icon {
        display: block;
        font-size: 24px;
        color: #111;
    }
    .hero-content h1 {
        font-size: 36px;
    }
} */


.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    color: white;
    font-family: 'Segoe UI',sans-serif;
    flex-wrap: wrap;
    background-color: navy;
}
.info-box {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    min-width: 280px;
    padding: 5px 10px;
    margin: 2px;
}
.icon {
    color: #5F8FEF;
}
.info-text h4{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}
.info-text p{
    font-size: 16px;
    color: #b0c2ff;

}
.divider {
    width: 1px;
    height: 60px;
    background-color: #34408a;
    margin: 0 20px;
}

@media (max-width:768px) {
    .contact-info {
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
    }
    .divider {
        display: none;
    }
    .info-box {
        justify-content: flex-start;
    }
}
.about-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: white;
    color: blue;
    max-width: 100%;
    margin:  5% 10% 5% 10%;
    padding:5px;
}
.about-images {
    display: flex;
    gap: 20px;
}
.about-images img {
    width: 250px;
    height: 350px;
    border-radius: 25px;
    object-fit: cover;
}
.about-content {
    max-width: 600px;
}
.about-content h3 {
    color: #3063E9;
    font-size: 30px;
    margin-bottom: 10px;
}
.about-content h2 {
    font-size: 40px;
    color: #0A1E59;
    margin-bottom: 20px;
    line-height: 1.2;
}
.about-content p {
    color: blue;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.6;
}
.about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}
.about-list div {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #0A1E59;
}
.about-list div ::before {
    content: '\2714';
    color: #3063E9;
}
.about-content button {
    background-color: #3063E9;
    color: white;
    border: none;
    padding: 12px 25px ;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.about-content button:hover {
    background-color: #1e4dcc;
} 

@media(max-width:768px) {
    .about-section {
        flex-direction: column;
        padding: 20px;
        
    }
    .about-images {
        flex-direction: column; 
        align-items: center;

    }
    .about-images img {
        width: 40%;
        height: auto;
        margin: 10px;
    }
    .about-content h2 {
        font-size: 32px;
    }
    .about-content p {
        font-size: 16px;
    }
}
    
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 100px;
}
.content h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #030D66;
}
.content h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #0A1E59;
}
.content p {
    font-size: 20px;
    color: blue;
    margin-bottom: 10px;
}
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;

}
.card {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width:calc(25% -15px);
    text-align: center;
   
}
.card img{
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}
.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: blue;
}
.card p {
    font-size: 15px;
    color: blue;
}
.plus {
    font-size: 1.5rem;
    color: #007bff;
    margin-top: 20px;
    cursor: pointer;
}

  .viewbtn {
    display: block;
    background-color: #007bff;
    color: white;
    padding:  14px 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    text-decoration: none;
} 
@media (max-width:1200px) {
    .cards {
        flex-wrap: wrap;
    }
    .card {
        width: calc(50% -10px);
    }

}
@media (max-width:768px) {
    .card {
        width: 100%;
    }
}



.stats-bar {
    display: flex;
    justify-content: space-around;
    background-color: #030D66;
    color: white;
    padding: 40px 0;
    text-align: center;
    font-family: 'Segoe UI',sans-serif;
}
.stats-bar .stat h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}
.stats-bar .stat p {
    font-size: 14px;
    color: #b9c9ff;
}
.why-choose {
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    background-color: #fff;
    font-family: 'Segoe UI',sans-serif;
    gap:60px;
    flex-wrap: wrap;
}
.why-left {
    flex: 1;
    min-width: 300px;
}
.why-left .subheading {
    color: #1b3fcc;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;

}
 .why-left h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #0e0e3a;
        
    }
.why-left .description {
    color: #6c6c80;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.why-left hr {
    border: 1px solid #e0e0e0;
    margin: 30px 0;
}
.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
}
.features h4 {
    font-size: 16px;
    font-weight: 600;
    color: #0e0e3a;
    margin-bottom: 6px;
}
.features p {
    font-size: 14px;
    color: #6c6c80;
}
.why-right {
    flex: 1;
    min-width: 320px;
}


.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}
.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

@media (max-width:992px) {
    .why-choose {
        flex-direction: column;
        padding: 50px 30px;
    }
    .features {
        grid-template-columns: 1fr;
    }
    .image-grid {
        grid-template-columns: 1fr;
    }
}

.team-section {
    text-align: center;
    padding: 60px 20px;
}
.subtitle {
    color: #3b82f6;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.title {
    font-size: 32px;
    color: #1e1e2f;
    font-weight: 700;
    margin-bottom: 15px;
}
.description {
    color: #6b7280;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 50px;
}
.team-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    overflow: hidden;
    width: 250px;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-info {
    padding: 15px 10px;
    background-color: white;
}
.card-info h3 {
    font-size: 16px;
    color: #1e1e2f;
    margin-bottom: 5px;
}
.card-info p {
    font-size: 14px;
    color: #6b7280;
}

.faq-section {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    max-width: 1400px;
    margin: auto;
    gap: 100px;
}
.faq-left {
    width: 40%;
    padding-left: 30px;
}
.faq-subtitle {
    color: #2563eb;
    font-size: 25px;
    margin-bottom: 20px;
}
.faq-title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    color: #0a1b3c;
}
.faq-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq-item {
    border-bottom: 1px solid #ccc;
}
.faq-question {
    background: none;
    border: none;
    font-size: 16px;
    text-align: left;
    width: 100%;
    padding: 20px 10px;
    color: #0a1b3c;
    cursor: pointer;
    position: relative;
}
.faq-question ::after {
    content: "▾";
    position: absolute;
    right: 10px;
    color: #0a1b3c;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);

}
.testimonials-section {
    padding: 80px 100px;
    text-align: center;
    background-color: #eef4fc;
}
.testimonial-header .subtitle {
    color: #3b82f6;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}
.testimonial-header .title {
    font-size: 36px;
    font-weight: bold;
    color: #0a1b3c;
    margin-bottom: 16px;

}
.testimonial-header .description {
    font-size: 18px;
    color: #7b8494;
    max-width: 700px;
    margin: 0 auto 60px auto;
}
.testimonial-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 20px;
}
.card {
    background: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    width: calc(25% -30px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    flex-shrink: 0;
    position: relative;
    text-align: center;
}
.quote-icon {
    font-size: 40px;
    color: #3b82f6;
    margin-bottom: 15px;
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.name {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    color: #011b3c;
}
.role {
    font-size: 14px;
    color: #7b8494;
    margin-bottom: 15px;
}
.feedback {
    font-size: 14px;
    color: #4a5568;
    line-height: 1.6;
}
.dots {
    margin-top: 30px;
}
.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background-color: #d1d5db;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.dot.active {
    background-color: #3b82f6;
}
@media (max-width:1200px) {
    .card {
        width: calc(33.33% -30px);
    }
}
@media (max-width :768px) {
    .testimonial-cards {
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}

.cta-section {
    background-color: #4A77D4;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cta-section h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}
.cta-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}
.footer {
    background-color:#0A1B35;
    padding: 60px 50px 20px 50px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.footer-col {
    flex: 1 ;
    min-width: 200px;
}
.brand-col.logo {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.brand-col p {
    font-size: 14px;
    color: #b0bec5;
    line-height: 1.6;
}
.footer-col h4 {
    font-size: 16px;
    margin-bottom: 15px;
}
.footer-col ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    color: #b0bec5;
}
.footer-col ul li {
    margin-bottom: 10px;
    cursor: pointer;
}
.contact-col p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #b0bec5;
}
.contact-col i {
    margin-right: 8px;
    color: #4A77D4;
}

.social-icons  {
    margin-top: 15px;
    color: #cfd8e3;
    display: flex;
    gap: 15px;
    font-size: 16px;
    cursor: pointer;
}
.bottom-footer {
    border-top: 1px solid #1e2a45;
    margin-top: 40px;
    padding-top:20px ;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #90a4ae;
}
.footer-links a {
    color: #90a4ae;
    margin-left: 20px;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}





